- cache [topic, locale] do
  li
    img.img-responsive alt="avatar" src=topic.user.avatar.original.url onclick="LoadComments('#{topic_path(topic)}')" title=topic.user.name+"\t"+time_ago_tag(topic.created_at)+"<br><br>"+topic.title+"<br><br><br><br><br>"
