#slider.master-slider
  = render partial: 'home', collection: @topics, as: :topic
  /- if @topics.total_pages > 1
      = paginate @topics, theme: 'campo'

javascript:
  $('#slider').masterslider({
    speed: 50,
    layout: "fullscreen",
    fullscreenMargin: 0,
    space: 0,
    wheel: true,
    dir: "v",
    preload: 4
  });

javascript:
  $(document).on('page:change', function () {
    $("#left").mmenu({
      offCanvas: {
        position: "left",
        zposition: "next"
      },
      classes: "mm-white"
    });
    $("#right").mmenu({
      offCanvas: {
        position: "right",
        zposition: "next"
      },
      classes: "mm-white"
    });
  });


javascript:
  var content = document.getElementById('content');
  var mc = new Hammer(content);
  mc.on('panright', function (ev) {
    $("#left").trigger("open.mm");
  });

javascript:
  function LoadComments(url) {
    $("#right").trigger("open.mm");
    setTimeout(function() {
      $("#Box").attr("src", url);
    }, 250);
  };
