#slider.master-slider
  = render partial: 'home', collection: @topics, as: :topic
  /- if @topics.total_pages > 1
      = paginate @topics, theme: 'campo'

javascript:
  $('#slider').masterslider({
    speed: 50,
    layout: "fullscreen",
    fullscreenMargin: 0,
    space: 0,
    wheel: true,
    dir: "v",
    preload: 4
  });

javascript:
  var snapper = new Snap({
    element: document.getElementById('content')//,
    //hyperextensible: false
  });

javascript:
  function LoadComments(url) {
    $("#Box").attr("src", url);
    snapper.expand('right');
  };
