.main
  .container
    .row
      .col-md-8.col-md-push-2
        /a.btn.btn-default href=clear_notifications_path data-remote="true" data-method="delete" data-confirm=t('.delete_all_confirm')
          = t '.delete_all'
        /a.btn.btn-default.pull-right href=settings_notifications_path
          i.fa.fa-cog
          /'
        .panel
          .panel-heading
            /h3.panel-title
              = t '.notifications'
          .panel-body
            ul.list-group.list-group-campo
              - if @notifications.any?
                - @notifications.each do |notification|
                  = render "notifications/notification/#{notification.name}", notification: notification
              - else
                li.list-group-item.text-center.text-muted.empty-message
                  = t '.no_notifications'
          .panel-footer.clearfix
            a.btn.btn-default href=clear_notifications_path data-remote="true" data-method="delete" data-confirm=t('.delete_all_confirm')
              = t '.delete_all'
            .pull-right
              = paginate @notifications, theme: 'campo'

javascript:
  $(document).on('page:change', function () {
    $("#left").mmenu({
      offCanvas: {
        position: "left",
        zposition: "next"
      },
      classes: "mm-white"
    });
    $("#right").mmenu({
      offCanvas: {
        position: "right",
        zposition: "next"
      },
      classes: "mm-white"
    });
  });

javascript:
  var content = document.getElementById('content');
  var mc = new Hammer(content);
  mc.on('panright', function (ev) {
    $("#left").trigger("open.mm");
  });

javascript:
  function LoadComments(url) {
    $("#right").trigger("open.mm");
    setTimeout(function () {
      $("#Box").attr("src", url);
    }, 300);
  };