/*
 *= require font-awesome
*/


$font-size-base: 15px;

@import "bootstrap";
@import "highlight";
@import "nprogress";
@import "bootstrap_customize";
@import "users";
@import "topics";
@import "comments";
@import "notifications";
@import "subscriptions";
@import "markdown";
@import "jquery.bxslider";
@import "jquery.mobile.min";
@import "toastr.min";
@import "snap";

body {
  background: #eee;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.text-hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

